a{
    color: sandybrown;
}
a:link{
    color: red;
    text-decoration: none;
    display: inline;
    padding-left: 10px;
    text-align: center;
}
a:hover{
    color: green;
    background-color: hotpink;
    font-size: large;
    text-decoration: underline;
    text-align: center;
}
a:active{
    color: blue;
}