body{
    background-image: url(2.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.log{  
    float: left;
    padding: 10px;
}
.tit{
    text-align: center;
    vertical-align: middle;
    height:100px ;
    color: white;
    background-color: black;
    font-size: xx-large;
    line-height: 100px;
}
.form{
    padding-top: 30%;
    padding-right: 30%;
    width: 450px;
    margin: auto;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    background-color: rgb(0,0,0,0.5);
}
.fed{
    background-color: rgb(0,0,0,0.6);
    text-align: center;
    color: white;
    padding: 20px 0px 20px 0px;
    font-size: x-large;
}
.row{
    padding: 20px;  
    color: white;
}
.name{
    width: 380px;
    line-height: 30px;
    border-radius: 6px;
}
.button{
    text-align: center;
    font-size: x-large;
}
nav{
    padding-top: 15px;
    padding-bottom: 5%;
    height: 10px;
}
a{
    
    height: 50px;
    padding-right: 50px;
    padding-left: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 19px;
    color: white;
}