
.form{
    background-image: url(yonosbi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    color: white;
}
.tit{
    text-align: left;
    vertical-align: middle;
    height:100px ;
     
    font-size: xx-large;
    line-height: 100px;
}
.title{
    background-color: white;
    color: whitesmoke;
}
.log{  
    float: left;
    padding: 10px;
    background-color: white;
}
#row{
    padding-top: 40px;
}