#row1{
    background-color: darkcyan;
    
}
#a{
    padding-top: 15px;
    font: bold;
    color: white;
}
.form{
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    background-color: lightblue;
    color: black;
    position: relative;
    margin-top: 100px;
}
