
.log1,.log2{
    
    float: right;
    padding: 10px;
    
}
.log{  
    float: left;
    padding: 10px;
}
.tit{
    text-align: center;
    vertical-align: middle;
    height:100px ;
    color: white;
    background-color: black;
    font-size: xx-large;
    line-height: 100px;
}
.row{
    padding-left: 0px;
    height: 500px;
    
}
.column1{
    float: left;
    width: 30%;
    padding-left: 10px;
    padding-top: 25px;
}
.column2{
    float: right;
    width: 65%;
    color: rgb(7, 0, 0);
    font-size: large;
    padding-right: 40px;
    text-align: left;
    padding-top: 5%;
}
.a1{
    
    height: 50px;
    padding-right: 55px;
    padding-left: 55px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 19px;
    color: white;
}
nav{
    padding-top: 15px;
    height: 10px;
}

.pic{
    float: left;
}
.text{
    background-color: rgb(0,0,0,0.5);
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    line-height: 25px;

}
form{
    padding-top: 5%;
}
.trend{
    background-color: rgb(0,0,0,0.5);
    width: 50%;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
}
.head{
    color: white;
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: x-large;
}
.txt1{
    color: white;
    font-size: large;
    text-align: left;
    line-height: 1cm;
}
div.column3{
    text-align: end;
    padding-left: 70%;
    padding-top: 30%;
    padding-right: 5%;
}
h3{
    color: rgb(7, 0, 0);
    background-color: rgba(8, 12, 241, 0.507);
    border: solid black 1px;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    
}

.clic{
    color:white;
}
a:hover { color: #451ae0; background: inherit; }