#row1{
    background-color: darkcyan;
    
}
.form{
    background-color: lightblue;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    margin-top: 20px;
}
.a1{
    text-align: right;
}
.a2{
    text-align: center;
}

#a{
    padding-top: 15px;
    font: bold;
    color: white;
}