#row1{
    background-color: darkcyan;
    
}
#a{
    padding-top: 15px;
    font: bold;
    color: white;
}
form{
    background-color: paleturquoise;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    color: black;
}

button{
    height: 60px;
    ;
}
#btn1,#btn2,#btn0,#btn3,#btn4,#btn5,#btn6,#btn7{
    text-align: left;
    border: solid black 0.5px
}
.a1{
    text-align: right;
}
#row{
    padding-top: 40px;
}