#row2{
    background-color: darkcyan;
    
}
#a{
    padding-top: 15px;
    font: bold;
    color: white;
}

#row{
    padding-top: 40px;
    
}
h1{
    text-align: center;
    background-color: white;
}
#row1{
    background-color: white;
}
.qr{
    padding-left: 174px;
}