#row1{
    background-color: darkcyan;
    
}
#a{
    padding-top: 15px;
}
#d:hover{
    background-color: darkorange;
    color: black;
    margin-top: 5px;
}
#d{
    text-align: center;
    background-color: darkturquoise;
    margin-top: 5px;
}


form{
    width: 580px;
    margin: auto;
    padding: 5px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 2px rgb(63, 52, 52);
    background-color: lightblue;
}



