.copy{
    margin:20px;
    padding:20px;
    border-style:solid;
    border-width:1px;
    border-color: rgb(14, 11, 11);
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:18px;
}
.panel{ 
    margin: 20px; 
    padding:0px; 
    height:34px;
}
.audio-panel{
    border:none !important;
}
#playlist,audio{width:100%;}
.active a{color:rgb(12, 9, 9);text-decoration:none;}
ul{list-style:none; margin:0px; padding:20px;}
li{margin:0px; padding:0px;}
li, a{transition:all 0.5s;}
.list-group-item.active a{ text-decoration:none; color:rgb(12, 11, 11);}
a{display:block; position:relative; width:100%;}
li a{display:block; text-decoration:none;}
li:hover{background-color:#333;}
a{color:rgb(3, 3, 3); text-decoration:none;}
.last{display:none;}